.sidebar row {
  min-height: 30px;
  padding-left: 6px;
  padding-right: 6px;
}

.sidebar .category {
  padding-top: 6px;
}

.sidebar .note {
  padding-top: 6px;
  padding-bottom: 6px;
}

.sidebar-spinner {
  min-width: 32px;
  min-height: 32px;
}

.content-view {
  background-color: @theme_base_color;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
}
