.sidebar {
  min-width: 300px;
}

.sidebar-list-view row {
  min-height: 30px;
  padding: 9px;
}

.sidebar-list-view-multi-selection-mode row:selected {
  background: none;
}

.sidebar-action-bar {
  background: @theme_bg_color;
}

.sidebar-action-bar box {
  padding: 6px;
}

.sidebar-spinner {
  min-width: 32px;
  min-height: 32px;
}

.sidebar-view-switcher-popover row {
  min-height: 6px;
  min-width: 120px;
}

.sidebar-view-switcher-popover row:selected {
  background: none;
}

.sidebar-view-switcher-popover row:hover {
  background: none;
}

.sidebar-view-switcher-item-row-edit-tags {
  padding: 0px;
  border-radius: 3px;
  transition: box-shadow 0s;
  background: none;
  color: @theme_text_color;
}

.sidebar-view-switcher-item-row-edit-tags:hover {
  background-color: @theme_bg_color;
  box-shadow: 0 0 0 4px @theme_bg_color;
}

.sidebar-view-switcher-item-row-edit-tags label {
  font-weight: 400;
}


.content-view {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: @theme_base_color;
}

.content-view-tag-list-view row {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3px;
  padding-right: 3px;
}

.content-view-tag-list-view row label {
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 9px;
  background-color: @accent_bg_color;
  color: @accent_fg_color;
}


.note-tag-dialog-list-view row {
  padding: 12px;
}

.note-tag-dialog-create-tag-button {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 0;
  background-color: @theme_base_color;
  color: @theme_text_color;
}

.note-tag-dialog-create-tag-button:hover {
  background-color: @theme_bg_color;
}

.note-tag-dialog-create-tag-button label {
  font-weight: 400;
}


.tag-editor-create-tag {
  padding-top: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 6px;
  background-color: @theme_base_color;
}

.tag-editor-list-view row {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 6px;
}

.tag-editor-list-view row:hover {
  background: none;
}
